// 1024px
// 768px
// 736px
// 414px
// 667px
// 375px
// 684px
// 412px
// 734px
// 375px

@media all and (max-width: 1024px) {
    .join-content_paragraph {
        margin-bottom: 50px;
        font-weight: 500;
        width: 427px;
        text-align: center;
    }
}