// color background:
$color-background-primary: #1E252B;

// color button:
$color-button: #FF6E30;

// color input
$color-input: #283036;

// color icon
$color-icon-card-active: #283036;

// color font:
$color-font-logo: rgba(255, 255, 255, 0.9);
$color-font-heading: rgba(255, 255, 255, 0.9);
$color-font-link: rgb(255, 255, 255);
$color-font-title: rgba(255, 255, 255, 0.9);
$color-font-paragraph: rgba(255, 255, 255, 0.55);
$color-font-registred-button: rgb(255, 255, 255);
$color-font-submit-button: rgb(255, 255, 255);
$color-font-visit-button: rgb(255, 255, 255);
$color-font-input-text: rgba(255, 255, 255, 0.38);
$color-font-blockquote: rgba(255, 255, 255, 0.78);
$color-font-card-paragraph: rgb(255, 255, 255);
$color-font-junior-font-size: rgb(255, 255, 255);
$color-font-visit-paragraph: rgb(255, 165, 55);
$color-font-username: rgba(255, 255, 255, 0.78);
$color-font-copyright: rgba(255, 255, 255, 0.9);
$color-font-copyright-text: rgba(255, 255, 255, 0.55);